__pycache__/
.pytest_cache/
.nextflow.log*
.nextflow
.nf-test.log*
.nf-test/
work
docs/ 
.venv/
protocols/AVIAN/v1/config.yaml
prova/
protocols/AVIAN/v1/AA_dictionary_proposal
protocols/AVIAN/v1/MARKERS
analisis/
nf_pipeline/bin/Headers.py
lastyear/
thisyear/