/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/
params {
    inputFasta = "${projectDir}/data/test.fasta"
    segments = ["HA","NA","PB2","PB1","PA","NP","MP","NS"]
    programs = [
      MutationsDictionary : "${projectDir}/nf_pipeline/bin/MutationsDictionary.py",
    ]
    protocol = "AVIAN"
    threshold = 0.25
    protocols = [
    AVIAN: [
      directory : "${projectDir}/protocols/AVIAN",
      resources : "${projectDir}/protocols/AVIAN/v1"      
    ],
    SWINE: [
      directory : "${projectDir}/protocols/SWINE",
      resources : "${projectDir}/protocols/SWINE/v1"      
    ]
  ]
}
