manifest {
  name = 'FluTyper'
  author = 'Alejandra González-Sánchez & Marc Pérez i Bautista'
  homePage = 'https://github.com/[UPDATE]'
  description = 'Pipeline for Influenza genotyping and analysis'
  mainScript = 'main.nf'
}

params {
  help = null
  version = "1.1.0"
  workDir = "/home/vhir/Desktop/FluTyper/nf_pipeline" // Update this path to our working directory in MICRO server, but for now we will use this one for testing purposes.
  protocol = "AVIAN"
 // YET TO SET UP PROTOCOLS
  protocolsDir = "/home/vhir/Desktop/FluTyper/protocols"  //it will need to get updated"/gpfs/GENOM01/MICRO/Virologia/viruses/gripe/projects/FluTyper/protocols"
  protocols = [
    AVIAN: [
      directory : "${params.protocolsDir}/AVIAN",
      resources : "${params.protocolsDir}/AVIAN/v1"      
    ],
    SWINE: [
      directory : "${params.protocolsDir}/SWINE",
      resources : "${params.protocolsDir}/SWINE/v1"      
    ]
  ]

  
 
  programs = [
    MutationsDictionary : "bin/MutationsDictionary.py",
    TranslateSegments : "bin/TranslateSegments.py",
  ]
  mutationsSubtype = null
  inputFasta = "docs/fastas/prova.fasta" // Nom del fitxer d'entrada per defecte, es pot sobreescriure amb --inputFasta
  outDir = "prova/1"
  subtype = "H5" // Subtipo a analizar, se puede sobreescribir con --subtype
}
process {
  withLabel: 'big_mem' {
    cpus = 16
    memory = 32.GB
    maxForks = 4
  }
}


