manifest {
  name = 'FluTyper'
  author = 'Alejandra González-Sánchez & Marc Pérez i Bautista'
  homePage = 'https://github.com/[UPDATE]'
  description = 'Pipeline for Influenza genotyping and analysis'
  mainScript = 'main.nf'
}

params {
  help = null
  version = "1.1.0"
  phredScore = 30
  protocol = null
 // YET TO SET UP PROTOCOLS
 // protocols = [
 //   H5: [
 //     directory : "/gpfs/GENOM01/MICRO/Virologia/viruses/gripe/projects/FluTyper/protocols/H5"
 //     resources : "/gpfs/GENOM01/MICRO/Virologia/viruses/gripe/projects/FluTyper/protocols/H5/resources"      
 //   ]
 //   H7: [
 //     directory : "/gpfs/GENOM01/MICRO/Virologia/viruses/gripe/projects/FluTyper/protocols/H7"
 //     resources : "/gpfs/GENOM01/MICRO/Virologia/viruses/gripe/projects/FluTyper/protocols/H7/resources"      
 //   ]
 // ]
 
  programs = [
    extractClades : "bin/extract_clades.py",
  ]
}

process {
  withLabel: 'big_mem' {
    cpus = 16
    memory = 32.GB
    maxForks = 4
  }
}


