manifest {
  name = 'FluTyper'
  author = 'Alejandra González-Sánchez & Marc Pérez i Bautista'
  homePage = 'https://github.com/[UPDATE]'
  description = 'Pipeline for Influenza genotyping and analysis'
  mainScript = 'main.nf'
}

params {
  help = null
  version = "1.1.0"
  workDir = "${projectDir}/nf_pipeline" // Update this path to our working directory in MICRO server, but for now we will use this one for testing purposes.
  protocol = "AVIAN"
  protocols = [
    AVIAN: [
      directory : "${projectDir}/../protocols/AVIAN",
      resources : "${projectDir}/../protocols/AVIAN/v1"      
    ],
    SWINE: [
      directory : "${projectDir}/../protocols/SWINE",
      resources : "${projectDir}/../protocols/SWINE/v1"      
    ]
  ]

  segments = ["HA","NA","PB2","PB1","PA","NP","MP","NS"]
  proteins = [
    HA: ["HA", "HA-SP", "HA1-SP", "HA2"],
    NA: ["NA"],
    PB2: ["PB2"],
    PB1: ["PB1", "PB1-F2"],
    PA: ["PA", "PA-X"],
    NP: ["NP"],
    MP: ["M1", "M2"],
    NS: ["NS1", "NEP"]
  ]

  
 
  programs = [
    MutationsDictionary : "bin/MutationsDictionary.py",
    TranslateSegments : "bin/TranslateSegments.py",
  ]
  mutationsSubtype = null
  inputFasta = "docs/fastas/prova.fasta" // Nom del fitxer d'entrada per defecte, es pot sobreescriure amb --inputFasta
  outDir = "prova/1"
}
process {
  withLabel: 'big_mem' {
    cpus = 16
    memory = 32.GB
    maxForks = 4
  }
}


